.user{
    display: flex;
    padding: 30px;
    background-color: lightgray;
    margin:20px;
    border: none;
    border-radius: 10px;
    
    
    
}
.user-img-div{
    margin-right: 10px;
    padding-top: 25px;
    
}
.user-img-div img{
    width: 100px;
    
    border-radius: 5px;
}
.user-details-div{
    margin-left: 20px;
}
.user-name{
    color: blue;
    font-weight: 600;
}
.select-btn{
    background-color:rgb(143, 56, 56);
    color: white;
    height: 30px;
    width: 120px;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
}